In [1]:
import numpy as np
import pandas as pd

import matplotlib 
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('C:/Users/aarya/Desktop/NissanJourneyProbe.csv')

In [3]:
#df.info()
#df.head()

In [4]:
df.iloc[0].loc['Jrny Strt Dt']
df.iloc[0].loc['Jrny End Dt']

'7/9/2018 21:28'

In [5]:
df.loc[df['Jrny Strt Dt'] == '2000-00-00 00:00:00','Jrny Strt Dt'] = '01/01/2000 00:00'
df.loc[df['Jrny End Dt'] == '2000-00-00 00:00:00','Jrny End Dt'] = '01/01/2000 00:00'

In [6]:
df['Jrny Strt Dt'] = pd.to_datetime(df['Jrny Strt Dt'],format='%m/%d/%Y %H:%M')
df['Jrny End Dt'] = pd.to_datetime(df['Jrny End Dt'],format='%m/%d/%Y %H:%M')

##Y - four values for year
##y - two values for year

In [7]:
df['Jrny Strt Dt'].iloc[0]
df['Jrny End Dt'].iloc[0]

Timestamp('2018-07-09 21:28:00')

In [8]:
df['Jrny Strt Dt'].iloc[1]
df['Jrny End Dt'].iloc[1]

Timestamp('2018-07-09 21:58:00')

### Time Diff

In [9]:
(df['Jrny End Dt'].iloc[0] - df['Jrny Strt Dt'].iloc[0]).seconds
print(1380/60)

23.0

In [10]:
a = np.zeros(shape=(500,1))
df1 = a
#print(df1)

In [53]:
sum = 0
for i in range(0,500):
    journy_duration = (df['Jrny End Dt'].iloc[i] - df['Jrny Strt Dt'].iloc[i]).seconds
    a[i] = journy_duration/60
    sum = sum + journy_duration    
print(sum)
df1 = a
df['Journey Duration (minutes)']=df1

1403880

In [12]:
print(df['Jrny Strt Dt'].iloc[1].time())
print(df['Jrny Strt Dt'].iloc[1].date())
#https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.Timestamp.html

21:33:00
2018-07-09

### 1. Querying all the journeys with the journey duration(mins) between a given date range

In [56]:
def journeys(start_date, end_date, Vin_id ):
    data=df[(df['Jrny Strt Dt'] > start_date) & (df['Jrny End Dt'] <= end_date) & (df['Vin Id'] ==Vin_id)]
    return (data)

journeys('2018-07-09', '2018-08-09', "1N4AA6AP3GC388663")

,Wrkflw Id,Vin Id,Tlmtc Fl Nm,Vhcl Mk Nm,Vhcl Nmc Mdl Nm,Vhcl Yr Nb,Rpms Over4000,Rpms Over6000,Jrny Strt Dt,Jrny End Dt,...,Frnt Sttng Tire Prsur Nb,Rear Sttng Tire Prsur Nb,Crte Ts,Crte Usr Id,Updt Ts,Updt Usr Id,Tlmtc Fl Gnrtd Yr Nb,Tlmtc Fl Gnrtd Mnth Nb,Tlmtc Fl Gnrtd Dy Nb,Journey Duration (minutes)
0,0007941-180620161858715-oozie-oozi-W,1N4AA6AP3GC388663,SXMN_1N4AA6AP3GC388663_2_19901231235959.dat,Nissan,MAXIMA,2016.0,0,0,2018-07-09 21:05:00,2018-07-09 21:28:00,...,0,0,7/9/2018 15:47,x981131,7/9/2018 15:47,x981131,"1,990",12,31,23.0

### 2. Journey Distance and Fuel Consumption

In [58]:
def journey_distance(start_date, end_date, Vin_id):
    df1 = df[(df['Jrny Strt Dt'] > start_date) & (df['Jrny End Dt'] <= end_date) & (df['Vin Id'] == Vin_Id)]
    data = df1[['Vin Id','Jrny Strt Dt', 'Jrny End Dt','Jrny Dstnc Trvl Mile Nb','Jrny Fuel Cnsmpn Nb']]
    return (data)

journey_distance('2018-07-09', '2018-08-09', "1N4AA6AP3GC388663")

,Vin Id,Jrny Strt Dt,Jrny End Dt,Jrny Dstnc Trvl Mile Nb,Jrny Fuel Cnsmpn Nb
1,5N1DR2MM6HC908653,2018-07-09 21:33:00,2018-07-09 21:58:00,5.08,0.45

### 3. Miles covered, fuel consumed and avg. fuel mileage (MPG - mileage per gallon).

#### a. Total Miles covered for a particular Vin Id

In [60]:
def miles_covered (start_date, end_date, Vin_id):
    df4 = df[(df['Jrny Strt Dt'] > start_date) & (df['Jrny End Dt'] <= end_date) & (df['Vin Id'] == Vin_Id)]
    n = df4['Jrny Strt Dt'].count()
    total_miles_covered = 0
    for i in range(0,n):
        miles_covered = df4['Jrny Dstnc Trvl Mile Nb'].iloc[i]
        total_miles_covered = total_miles_covered + miles_covered
        print(total_miles_covered)
   
miles_covered('2018-07-09', '2018-08-09', "1N4AA6AP3GC388663")

5.08

In [ ]:
start_date = '2018-07-09'
end_date = '2018-08-09'
Vin_Id = "5N1DR2MM6HC908653"

df4 = df[(df['Jrny Strt Dt'] > start_date) & (df['Jrny End Dt'] <= end_date) & (df['Vin Id'] == Vin_Id)]
n = df4['Jrny Strt Dt'].count()

total_miles_covered = 0
for i in range(0,n):
    miles_covered = df4['Jrny Dstnc Trvl Mile Nb'].iloc[i]
    total_miles_covered = total_miles_covered + miles_covered
print(total_miles_covered)

#### a. Total fuel consumed for a particular Vin Id

In [61]:
def Fuel_consumed (start_date, end_date, Vin_id):
    df4 = df[(df['Jrny Strt Dt'] > start_date) & (df['Jrny End Dt'] <= end_date) & (df['Vin Id'] == Vin_Id)]
    n = df4['Jrny Strt Dt'].count()
    total_miles_covered = 0
    for i in range(0,n):
        miles_covered = df4['Jrny Fuel Cnsmpn Nb'].iloc[i]
        total_miles_covered = total_miles_covered + miles_covered
        print(total_miles_covered)
   
Fuel_consumed('2018-07-09', '2018-08-09', "1N4AA6AP3GC388663")

0.45

#### Average Fuel Mileage

In [63]:
avg_fuel_mileage = (total_miles_covered/ total_fuel_consumed)
print(avg_fuel_mileage)

11.28888888888889

### 4. a) Excessive Acceleration Events

In [65]:
def excessive_accn(start_date, end_date, Vin_id, rpms_over4000):
    df2 = df[(df['Jrny Strt Dt'] > start_date) & (df['Jrny End Dt'] <= end_date) & (df['Vin Id'] == Vin_Id) & (df['Rpms Over4000'] > rpms_over4000)]
    data = df2[['Vin Id','Jrny Strt Dt','Jrny End Dt','Rpms Over4000','Jrny Dstnc Trvl Mile Nb','Jrny Fuel Cnsmpn Nb']]
    return (data)

excessive_accn('2018-07-09', '2018-08-09', "1N4AA6AP5GC410517", 0)

Empty DataFrame
Columns: [Vin Id, Jrny Strt Dt, Jrny End Dt, Rpms Over4000, Jrny Dstnc Trvl Mile Nb, Jrny Fuel Cnsmpn Nb]
Index: []

In [66]:
start_date = '2018-07-09'
end_date = '2018-08-09'
Vin_Id ="1N4AA6AP5GC410517"
rpms_over4000 = 0

df2 = df[(df['Jrny Strt Dt'] > start_date) & (df['Jrny End Dt'] <= end_date) & (df['Vin Id'] == Vin_Id) & (df['Rpms Over4000'] > rpms_over4000)]
df2[['Vin Id','Jrny Strt Dt','Jrny End Dt','Rpms Over4000','Jrny Dstnc Trvl Mile Nb','Jrny Fuel Cnsmpn Nb']]

,Vin Id,Jrny Strt Dt,Jrny End Dt,Rpms Over4000,Jrny Dstnc Trvl Mile Nb,Jrny Fuel Cnsmpn Nb
4,1N4AA6AP5GC410517,2018-07-10 22:56:00,2018-07-11 12:07:00,2,44.29,1.44

### 4. b) Quering the Engine Warm-up time and the pressure of the four tires

In [17]:
start_date = '2018-07-09'
end_date = '2018-08-09'
Vin_Id ="1N4AA6AP5GC410517"

df3 = df[(df['Jrny Strt Dt'] > start_date) & (df['Jrny End Dt'] <= end_date) & (df['Vin Id'] == Vin_Id)]
df3[['Vin Id','Jrny Strt Dt','Jrny End Dt','Jrny Dstnc Trvl Mile Nb','Engn Wup Tm','Frnt Rght Tire Psi Nb','Frnt Lft Tire Psi Nb','Rear Rght Tire Psi Nb','Rear Lft Tire Psi Nb']]

,Vin Id,Jrny Strt Dt,Jrny End Dt,Jrny Dstnc Trvl Mile Nb,Engn Wup Tm,Frnt Rght Tire Psi Nb,Frnt Lft Tire Psi Nb,Rear Rght Tire Psi Nb,Rear Lft Tire Psi Nb
4,1N4AA6AP5GC410517,2018-07-10 22:56:00,2018-07-11 12:07:00,44.29,6,37.5,37.75,38.0,37.0